# This file contains common pin mappings for the BIGTREETECH SKR V1.3
# board. To use this config, the firmware should be compiled for the
# LPC1768.

# See the example.cfg file for a description of available parameters.




######################################################################
#stepper motors
######################################################################
[stepper_x]
step_pin: P2.2
dir_pin: !P2.6
enable_pin: !P2.1
step_distance: .0125
endstop_pin: P1.29  # P1.28 for X-max
position_endstop: 0
position_max: 250
homing_speed: 60

[stepper_y]
step_pin: P0.19
dir_pin: !P0.20
enable_pin: !P2.8
step_distance: .0125
endstop_pin: P1.27  # P1.26 for Y-max
position_endstop: 0
position_max: 240
homing_speed: 55

[stepper_z]
step_pin: P0.22
dir_pin: P2.11
enable_pin: !P0.21
step_distance: .0025
endstop_pin: P1.25  # P1.24 for Z-max
position_endstop: 0.5
position_max: 250

########################################
# TMC2208 configuration
########################################


# For TMC2208 UART
#   1) Remove all of the jumpers below the stepper drivers
#   2) Place jumpers on the red pin headers labeled XUART (XUART, YUART etc.)

[tmc2209 stepper_x]
uart_pin: P1.17
microsteps: 16
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 250

[tmc2208 stepper_y]
uart_pin: P1.15
microsteps: 16
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 250

[tmc2208 stepper_z]
uart_pin: P1.10
microsteps: 16
run_current: 0.650
hold_current: 0.450
stealthchop_threshold: 30

[tmc2208 extruder]
uart_pin: P1.8
microsteps: 16
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 5


###############################################
##  Extruder, Filament, Heat and Fan(s)
###############################################

[extruder]
step_pin: P2.13
dir_pin: !P0.11
enable_pin: !P2.12
step_distance: .010526
nozzle_diameter: 0.6
filament_diameter: 1.750
heater_pin: P2.7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.24
control: pid
pid_kp = 26.242
pid_ki = 1.620
pid_kd = 106.278
min_temp: 0
max_temp: 280
#pressure_advance: 0.5436
#pressure_advance_lookahead_time: 0.010
###aaron
pressure_advance: 0.124
max_extrude_only_distance: 1250.00



[fan]
pin: P2.3
max_power: 1       #max value 1.0
###aaron
#cycle_time: 0.015    #pwm 
#kick_start_time: 0.5

[heater_fan my_nozzle_fan]
pin: P2.4
max_power: 1.0
cycle_time: 0.010
hardware_pwm: False
kick_start_time: 0.100
heater: extruder
heater_temp: 50.0
fan_speed: 1.0


[mcu]
serial:/dev/serial/by-id/usb-Klipper_lpc1768_15F0001523083DAFFE62625CC42000F5-if00
 
[printer]
kinematics: cartesian
max_velocity: 200
max_accel: 2000
max_z_velocity: 25
max_z_accel: 100
square_corner_velocity: 5.0

###############################################
##  Bed / Auto Probing / Bed Mesh
###############################################

[heater_bed]
heater_pin: P2.5
sensor_type: ATC Semitec 104GT-2
sensor_pin: P0.23
min_temp: 0
max_temp: 110
control: pid
pid_kp = 74.144
pid_ki = 1.540
pid_kd = 892.514

[bltouch]
sensor_pin: P1.28
control_pin: P2.0
pin_move_time: 0.5
pin_up_reports_not_triggered: True
pin_up_touch_mode_reports_triggered: True
stow_on_each_sample: True
x_offset: -41.0
y_offset: -11.0
z_offset: 3.25

[bed_mesh]
speed: 120
horizontal_move_z: 7
mesh_min: 20,20
mesh_max: 205,215
probe_count: 5,5
move_check_distance: 3
mesh_pps: 2,2
algorithm: lagrange
relative_reference_index: 12
fade_end: 10


########################################
# Optional LCD configuration
########################################

[respond]
default_type: echo
#    Sets the default prefix of the "M118" and "RESPOND" output to one of the following:
#        echo: "echo: " (This is the default)
#        command: "// "
#        error: "!! "
default_prefix: echo:
#    Directly sets the default prefix. If present, this value will override the "default_type".

# 128x64 Full Graphic Creality CR10 / ENDER 3 stockdisplay
[display]
lcd_type: st7920
cs_pin: P1.19
sclk_pin: P1.21
sid_pin: P1.23
encoder_pins: ^P1.18, ^P1.20
click_pin: !P0.28

[output_pin beeper]
pin: P1.30

######################################################################
# Additional servos, LEDs, buttons, and other pins
######################################################################

# Execute gcode when a button is pressed or released (or when a pin
# changes state). You can check the state of the button by using
# QUERY_BUTTON button=my_gcode_button
#[gcode_button my_gcode_button]
#pin:
#   The pin on which the button is connected. This parameter must be
#   provided.
#press_gcode:
#   A list of G-Code commands to execute when the button is pressed.
#   G-Code templates are supported.
#release_gcode:
#   A list of G-Code commands to execute when the button is released.
#   G-Code templates are supported.


